@import "@core/styles/_mixins.scss";
@import "@core/styles/_brand-variables.scss";

.content {
	@include flex(row);
	gap: 10%;
	padding: 2em;
	width: 100%;
	max-width: $max-width;
	margin: 5% auto;

	.left {
		@include flex(column);
		width: 100%;
		max-width: 400px;
		margin: 0 5%;

		h2,
		p {
			width: 100%;
			text-align: left;
		}

		h2 {
			color: $primaryText;
			font-weight: 500;
		}

		p {
			color: $secondaryText;
		}

		.buttons {
			@include flex(row);
			align-self: flex-start;

			a {
				background-color: $primary;
				color: $secondary;
				padding: 1em 2em;
				border-radius: 5px;
				font-size: 0.8rem;
				font-weight: bold;

				&:last-of-type {
					@include flex(row);
					gap: 0.5em;
					background-color: unset;
					color: $primary;
				}
			}
		}
	}

	.right {
		height: 100%;
		width: 100%;
		max-width: max-content;
		position: relative;
		@include flex(column);
		padding: 3em;
		margin: 0 5%;

		.dot-1,
		.dot-2,
		.dot-3,
		.dot-4 {
			background-color: $primary;
			position: absolute;
			border-radius: 50%;
			z-index: 100;
		}

		.dot-1 {
			top: 0;
		}

		.dot-2 {
			top: 30%;
			right: 0;
		}

		.dot-3 {
			bottom: 20%;
			left: 0;
		}

		.dot-4 {
			bottom: 0;
			right: 10%;
		}


		>span {
			border-radius: 50%;
			position: relative;

			.bubble {
				width: 100% !important;
				object-fit: cover;
			}
		}
	}

	&:nth-child(odd) {
		flex-direction: row-reverse;
	}
}
