@import '@styles/_mixins.scss';
@import '@styles/_brand-variables.scss';

.layout {
	@include grid();
	grid-template-columns: 1fr;
	grid-template-rows: max-content 1fr max-content;
	background-color: $primary;
	min-height: 100vh;
	width: 100vw;
}

.header {
	width: 100%;
}

.content {
	width: 100%;
	height: 100%;
	@include flex();
}
