@import "@core/styles/_mixins.scss";
@import "@core/styles/_brand-variables.scss";

.ctas {
	@include flex(row);
	gap: 0em;

	a {
		margin: 0 1em;
		color: $secondary;
		font-weight: 500;

		&:last-of-type {
			@include flex(row);
			background-color: $secondary;
			padding: 0.25em 1.5em;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			color: $primaryLight !important;
		}
	}
}
